header {
  text-align: center;
  height: 80px;
  padding-top: 30px;
}

h1 {
  font-size: 24px;
  text-align: center;
}


main {
  height: auto;
  margin: 0 20% 0 20%;
}

.headform {
  text-align: center;
  padding-top: 5px;
}

#cityresult {
  padding-top: 5px;
  height: auto;
} 

footer {
  text-align: center;
}